<%- include('layouts/header') %>
<%- include('index') %>


<div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe iure reprehenderit id officiis quos minus quas necessitatibus assumenda ea ipsa iusto deserunt blanditiis veritatis tempore et rem ex laborum ab officia tenetur voluptatibus vero, natus corporis eveniet! Minus necessitatibus nesciunt dicta, veniam ullam quae quas labore odit ipsa fugiat corporis, odio omnis eaque aliquid? Debitis tempore doloribus aspernatur cumque. Aspernatur eveniet provident aliquid placeat. Amet.

    <br><br><br>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore praesentium repellat, nisi, labore rem minus velit odit tempora nihil maiores consequatur! Consequuntur cum unde et, provident blanditiis, ratione quos nihil molestiae a illo aspernatur. Inventore dicta accusantium et beatae reprehenderit soluta, odit omnis sapiente obcaecati fuga iure aliquid, vel natus eius non, consequatur ex dignissimos adipisci doloribus.
    <br><br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus pariatur, debitis, labore quibusdam officiis repellat quia odio porro veritatis eaque deserunt quae explicabo ipsam? Voluptate ipsa mollitia corporis, vitae minus voluptatibus molestias culpa id doloremque maxime repellat veritatis consequatur ab? Ducimus rem molestias magni aut sequi ad cumque.
</div>

<%- include('layouts/footer') %>